*.pyc
models/*.h5
logs/*
log.txt
logs.txt
epoch_number.json
temp-models/*
.idea/
.vscode/
hooks/
imgs/
.idea
.vscode
models/models/*.h5
grpc/test/test_images/
grpc/test/test_videos/
grpc/*.jpg
grpc/*.png
models/
allinonemodels/freeze2.h5