absl-py                   
astor                     
atomicwrites             
attrs                   
beautifulsoup4            
boto                      
boto3                    
botocore                 
bs4                      
bz2file                  
ca-certificates           
certifi                  
chardet                 
Click                  
dlib                   
docutils               
Flask                   
future                 
gast                 
gensim                 
grpcio               
grpcio-tools              
h5py                 
idna                  
itsdangerous          
Jinja2                   
jmespath                 
Keras                     
Keras-Applications        
Keras-Preprocessing       
libedit                   
libffi                    
libgcc-ng                
libstdcxx-ng              
Markdown                  
MarkupSafe                
modAL                     
more-itertools            
msgpack                   
ncurses                   
nltk                      
numpy                     
opencv-python             
openssl                   
pandas                    
pip                       
pip                       
pluggy                    
progress                  
protobuf                  
py                        
pytest                    
python                   
python-dateutil           
pytz                      
PyYAML                    
readline                  
requests                  
s3transfer                
scikit-learn              
scipy                     
setuptools                
setuptools                
six                       
smart-open                
sqlite                    
tensorboard               
tensorflow                
termcolor                 
tk                        
tqdm                      
urllib3                   
Werkzeug                  
wheel                     
xz                        
zlib                      